<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
	<head>
		<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
		<meta charset="utf-8" />
		<meta name="robots" content="none" />
		<title>Mikepedia | A personal compendium </title>
		<link href="css/font-loader.css" rel="stylesheet" />
		<link href="css/mikepedia.css" rel="stylesheet" />
	</head>
	<body>
		<header th:include="header"></header>
		<nav th:include="nav"></nav>

		<table class="blog-archives">
			<tr th:each="entry: ${blogEntries}">
				<td class="date">
					<p th:text="${entry.dateCreated}"></p>
				</td>
				<td>
					<p th:text="${entry.title}" class="article-title"><a th:text="${entry.title}" th:href="blog/${entry.permalink}"></a></p>
				</td>
			</tr>
			
			<tr>
				<td class="date">
					<p>March 3rd</p>
				</td>
				<td>
					<p class="article-title"><a href="#">Clever Dripper brewing recipe</a></p>
				</td>
			</tr>
			<tr>
				<td></td>
				<td><p class="article-title"> Lorem ipsum, soli deo gloria. Lorem ipsum, soli deo gloria. Lorem ipsum, soli deo gloria. Lorem ipsum, soli deo gloria. Lorem ipsum, soli deo gloria.</p></td>
			</tr>
			<tr>
				<td class="date">
					<p>February 27th</p>
				</td>
				<td>
					<p class="article-title"><a href="#">Calvinism as a life-system</a></p>
				</td>
			</tr>
			<tr>
				<td></td>
				<td><p class="article-title"> Lorem ipsum, soli deo gloria. Lorem ipsum, soli deo gloria. Lorem ipsum, soli deo gloria. Lorem ipsum, soli deo gloria. Lorem ipsum, soli deo gloria.</p></td>
			</tr>
			<tr>
				<td class="date">
					<p>January 4th</p>
				</td>
				<td>
					<p class="article-title"><a href="#">Welcome to the new year</a></p>
				</td>
			</tr>
			<tr>
				<td></td>
				<td><p class="article-title"> Lorem ipsum, soli deo gloria. Lorem ipsum, soli deo gloria. Lorem ipsum, soli deo gloria. Lorem ipsum, soli deo gloria. Lorem ipsum, soli deo gloria.</p></td>
			</tr>
		</table>
	</body>
	<footer th:include="footer"></footer>
	</html>
