<!DOCTYPE html>
<html lang="en">
	<head>
		<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
		<meta charset="utf-8" />
		<meta name="robots" content="none" />
		<title>Mikepedia | A personal compendium </title>
		<link href="css/font-loader.css" rel="stylesheet" />
		<link href="css/mikepedia.css" rel="stylesheet" />
	</head>
	<body>
		<header>
			<h1>Mikepedia</h1>
			<img src="assets/images/Mikepedia-Logo.png" class="logo" />
			<!-- <p class="tagline">a personal compendium</p> -->
		</header>

		<div class="warning">
			<p class="warning-message">Hello! Thanks for visiting. At the moment, my website isn't live. I may be deploying a new version, or there may be something else going on. Check back again soon.</p>
		</div>

		<footer>
			<div class="social-footer">
				<p>Follow me on <a href="#">Twitter</a></p>.
			</div>
			<div class="hidden-reminder"><p>Memento Mori</p></div>
		</footer>
	</body>
</html>