<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta http-equiv="content-type" content="text/html" />
		<meta charset="utf-8" />
		<meta name="robots" content="none" />
		<title>Mikepedia | A personal compendium </title>
		<link href="css/font-loader.css" rel="stylesheet" />
		<link href="css/mikepedia.css" rel="stylesheet" />
	</head>
	<body>
		<header th:include="header"></header>
		<nav th:include="nav"></nav>

		<div class="welcome">
			<h2>Welcome to the digital home of Michael Brinker.</h2>
			<p class="welcome-message">By day I'm a web developer. My worldview is Protestant-Christian. I'm a husband. When I'm not engaging in one of these facets of my life, I'm usually roasting, brewing, or drinking coffee. I tend to write about these things.</p>
			<p>This website features it's own custom content management system. It is a contstant work in progress. If a link it broken or takes you to a page that doesn't do much yet, don't be surprised. It's also <a href="#">open source</a>.</p>
			<p>Lorem ipsum, memento mori. Lorem ipsum, memento mori. Lorem ipsum, memento mori. Lorem ipsum, memento mori. Lorem ipsum, memento mori. Lorem ipsum, memento mori. Lorem ipsum, memento mori. Lorem ipsum, memento mori.</p>
		</div>

		<div class="articles-of-interest">
			<div class="articles-of-interest-header">
				<hr />
				<p>Recent Writing</p>
				<hr />
			</div>
			<div class="article-preview">
				<p class="article-preview-title">Coffee as Art</p>
				<p class="article-preview-body">Lorem ipsum. Lorem ipsum. Lorem ipsum. Lorem ipsum. Lorem ipsum. Lorem ipsum. Lorem ipsum. Lorem ipsum.</p>
			</div>
			<div class="article-preview">
				<p class="article-preview-title">Calvinism is a life-system</p>
				<p class="article-preview-body">Lorem ipsum. Lorem ipsum. Lorem ipsum. Lorem ipsum. Lorem ipsum. Lorem ipsum. Lorem ipsum. Lorem ipsum.</p>
			</div>
			<div class="article-preview">
				<p class="article-preview-title">Responseive design for html noobz</p>
				<p class="article-preview-body">Lorem ipsum. Lorem ipsum. Lorem ipsum. Lorem ipsum. Lorem ipsum. Lorem ipsum. Lorem ipsum. Lorem ipsum.</p>
			</div>
			<hr />
		</div>
		<footer th:include="footer"></footer>
	</body>
</html>