<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta http-equiv="content-type" content="text/html" />
		<meta charset="utf-8" />
		<meta name="robots" content="none" />
		<title>Mikepedia | A personal compendium </title>
		<link th:href="@{/css/font-loader.css}" rel="stylesheet" />
		<link th:href="@{/css/mikepedia.css}" rel="stylesheet" />
	</head>
	<body>
		<header th:include="header"></header>
		<nav th:include="nav"></nav>

		<article>
			<h2>Welcome to my digital home. I call it a <em>personal compendium</em>.</h2>
			<p class="welcome-message">When I'm not developing software, ruminating upon my worldview, or spending time with my lovely wife, you will most likely find me roasting, brewing, and drinking coffee.</p>
			<p>This website is a constant work in progress. The design is an ongoing collaboration with <a href="http://twitter.com/courtneybrinker" target="_blank">@courtneybrinker</a>.If you want, check out the <a th:href="@{/blog/backlog}">changelog/backlog</a>. It's also <a href="http://github.com/themikejr/mikepedia" target="_blank">open source</a>.</p>
		</article>

		<!--  <div class="articles-of-interest">
			<div class="articles-of-interest-header">
				<hr />
				<p>Recent Writing</p>
				<hr />
			</div>
			<div class="article-preview">
				<p class="article-preview-title" th:text="${article1.title}"></p>
				<p class="article-preview-body" th:text="${article1.tagline}"></p>
				<p class="article-preview-body"><a th:href="@{/blog/} + ${article1.permaLink}">Read more</a></p>
			</div>
			<div class="article-preview">
				<p class="article-preview-title" th:text="${article2.title}"></p>
				<p class="article-preview-body" th:text="${article2.tagline}"></p>
				<p class="article-preview-body"><a th:href="@{/blog/} + ${article2.permaLink}">Read more</a></p>
			</div><div class="article-preview">
				<p class="article-preview-title" th:text="${article3.title}"></p>
				<p class="article-preview-body" th:text="${article3.tagline}"></p>
				<p class="article-preview-body"><a th:href="@{/blog/} + ${article3.permaLink}">Read more</a></p>
			</div>
			<hr />
		</div>  -->
		<footer th:include="footer"></footer>
	</body>
</html>