<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
	<head>
		<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
		<meta charset="utf-8" />
		<meta name="robots" content="none" />
		<title>Mikepedia | A personal compendium </title>
		<link th:href="@{/css/font-loader.css}" rel="stylesheet" />
		<link th:href="@{/css/mikepedia.css}" rel="stylesheet" />
	</head>
	<body>
		<header th:include="header"></header>
		<nav th:include="nav"></nav>

		<table class="blog-archives" th:each="entry: ${contentForSubject}">
			<tr>
				<td class="date">
					<p th:text="${entry.dateCreated}"></p>
				</td>
				<td>
					<p class="article-title"><a th:text="${entry.title}" th:href="@{/blog/} + ${entry.permaLink}"></a></p>
				</td>
			</tr>
			<tr>
				<td></td>
				<td><p class="article-title" th:text="${entry.tagline}"></p></td>
			</tr> 
		</table>
	</body>
	<footer th:include="footer"></footer>
	</html>
